#myBackground {
  background-image: url(./pictures/portfolioBackgroundTychoPink.jpg);
}

/* NavBar Style Start */
  #myNavbar {
    background-image: linear-gradient(to right, var(--myNavy) , var(--mySunYellow));
  }

  #myNavbarDropdown {
    background-color: var(--mySunYellow);
    color:black;
  }

  .navGit {
  color: #66686b;
  }
/* NavBar Style End */



/*Footer Style Start */
  #myFooter {
    position: fixed ;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background-image: linear-gradient(to right, var(--myDarkerPink) , var(--myLightPink));
    color: white;
    text-align: center;
  }

  .myFooterText {
    color:var(--myLightBlue);
    text-align: center;
    
  }

  #myFooterDropup {
    background-color: var(--myDarkerPink);
    color:white;
  }

  .dropUpText {
    color: white;
  }

  .footGit {
    color: #bfbfbd;
  }
/*Footer Style End */


/* Pallet Start */
  :root {
    --myLightBlue:#e9fdf2;
    --myDarkerBlue:#b3f4de;

    --myLightPink:#f9a9cc;
    --myDarkerPink: #d64789;
    
    --myPurple:#b43993;

    --myNavy: #192845;
    --mygrey: #67646d;
    --mySunYellow:#dbbb85;
  }
/* Pallet End */

