#myBackground {
  background-image: url(./pictures/portfolioBackgroundTychoPink.jpg);
}

#myFooter {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-image: linear-gradient(to right, var(--myDarkerPink) , var(--myLightPink));
  color: white;
  text-align: center;
}

#myNavbar {
  background-image: linear-gradient(to right, var(--myDarkerBlue) , var(--myLightBlue));
}

#myNavbarDropdown {
  background-color: var(--myDarkerBlue);
}

/* My Pallet */
:root {
  --myLightBlue:#e9fdf2;
  --myDarkerBlue:#b3f4de;

  --myLightPink:#f9a9cc;
  --myDarkerPink: #d64789;
  
  --myPurple:#b43993;

}

